body {
    background: url(./bckg.svg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-div {
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 320px;
    height: 420px;
    box-shadow: 1px 1px 10px #757575;
}

.login-div {
    margin-top: 10%;
    margin-bottom: 10%;
}

.login {
    font-size: 18px;
    color: #4b4b4b;
}

h1.login {
    font-size: 40px;
    font-weight: bold;
    color: #2b2b2b;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-div {
    margin-top: 5%;
    margin-bottom: 5%;
}

input {

    width: 80%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #737373;
    border-style: solid;
    font-size: 16px;
}

input:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 7px #9ecaed;
}

input:focus {
    outline: none;
    border-color: #5fa0d5;
    box-shadow: 0 0 10px #5fa0d5;
}

p {
    margin: 0%;
    font-size: 14px;

}

p a {
    width: 80%;
    display: flex;
    margin-left: 11%;
    margin-top: 1%;
    color: #3956ff;
    text-decoration: none;
    text-align: left;
}

a:hover {
    color: rgb(0, 52, 131);
}

.input-button {
    font-weight: 500;
    font-size: 18px;
    background-color: #003cffd0;
    color: white;
    margin-top: 15%;
}

.input-button:hover {
    background-color: #0027a6d0;
    color: rgb(220, 220, 220);
    cursor: grab;
}